@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;  
    background-color: antiquewhite;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.bg-image {
    background-image: url("Images/better-barista.avif");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*header*/
.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #F79256;
    justify-content:space-between; 
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.content .header-title{
    color: #f99b64;
    font-size:30px ;
}
@font-face {
    font-family: myFirstFont;
    src: url(Fonts/SteelworksVintageDemo-rR98.ttf);
}

.logo{
    font-family: myFirstFont;
    color: #fff;;
    font-weight: 900;
}

nav ul{
    display:flex;
    flex-direction: row;

}
nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}
nav ul li a:hover{
    color:#FBD1A2;
}

.button{
background-color: #FBD1A2;
color:#FFF;
}
.button:hover{
    background-color: #FFBD73;
    color:#FFF;
}


/*menu body*/
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ddd;
    text-align: center;
}
.main{
    width: 1170px;
    margin: 100px auto;
}
.section-title {
    text-align: center;
    margin-bottom: 80px;
}
.section-title h2 {
    text-transform: capitalize;
    font-size: 35px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.section-title h2:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: tomato;
    bottom: 0;
    left: 30%;
}
.menus {
    display: flex;
    justify-content: space-evenly;
    }
.menus-column {
    width: 31%;
}
.menus-column h4 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}
.menus-coulmn h4:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: tomato;
    bottom: 0;
}
.single-menu {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.single-menu img {
    border-radius: 50%;
    max-width: 110px;
    border: 1px solid #ddd;
    padding: 3px;
    margin-right: 15px;
    transition: .3s;
}
.single-menu:hover img{
    transform: rotate(360deg);
}
.single-menu .menu-content h5 {
    text-transform: capitalize;
    color: #f99b64;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid tomato;
    padding-bottom: 10px;
    margin-bottom: 5px;
}.single-menu .menu-content h5 span {
    color: #f99b64;
    float: right;
    font-weight: 600;
    font-style: italic;
    
}
